	<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ピザ屋のネット注文</title>
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/piza.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="item_list_pizza.html"> <!-- 企業ロゴ --> <img
						alt="main log" src="../static/../static/img_pizza/header_logo.png" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a href="cart_list.html" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<a href="order_history.html" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
						<a href="login.html" class="navbar-link">ログイン</a>&nbsp;&nbsp;
						<a href="item_list_pizza.html" class="navbar-link">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>


		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center">ショッピングカート</h3>
				<table class="table table-striped item-list-table">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
							<th>
							</th>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="../static/img_pizza/1.jpg"
										class="img-responsive img-rounded item-img-center" width="100" height="300"><br>
									じゃがバターベーコン
								</div>
							</td>
							<td>
								<span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個
							</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">
									3,280円
								</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="../static/img_pizza/1.jpg"
										class="img-responsive img-rounded item-img-center" width="100" height="300"><br>
									じゃがバターベーコン
								</div>
							</td>
							<td>
								<span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個
							</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">
									3,280円
								</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="../static/img_pizza/1.jpg"
										class="img-responsive img-rounded item-img-center" width="100" height="300"><br>
									じゃがバターベーコン
								</div>
							</td>
							<td>
								<span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個
							</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">
									3,280円
								</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center">
					<span id="total-price">消費税：8,000円</span><br>
					<span id="total-price">ご注文金額合計：38,000円 (税込)</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-5 col-xs-3">
				<div class="form-group">
					<form action="order_confirm.html">
						<input class="form-control btn btn-warning btn-block"
							type="submit" value="注文に進む">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
