<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>ラクラクカリー -商品詳細</title>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{/css/curry.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
	<link th:href="@{/css/drawer.css}" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
	<script src="/js/calc.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
	<script src="/js/favorite.js"></script>

	<script>
		jQuery(function ($) {
			$(document).ready(function () {
				$('.drawer').drawer();
			});
		});
	</script>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="drawer drawer--left">

	<div class="container">
		<!-- ハンバーガー始め -->
		<button type="button" class="drawer-toggle drawer-hamburger">
			<span class="sr-only">toggle navigation</span>
			<span class="drawer-hamburger-icon"></span>
		</button>
		<nav class="drawer-nav" role="navigation">
			<ul class="drawer-menu">
				<li class="side-menu"><span style="font-weight: bold"> <span sec:authorize="isAuthenticated()"> <span
								sec:authentication="principal.user.name"></span>さん&nbsp;
						</span> <span sec:authorize="isAnonymous()"> <span>ゲストさん&nbsp;</span>
						</span>
					</span> </li>
				<span sec:authorize="isAuthenticated()">
					<li class="side-menu"><a th:href="@{/mypage}" class="side-content">マイページ</a></li>
				</span>
				<li class="side-menu"><a href="item_list_curry.html" th:href="@{/}" class="side-content">商品一覧</a>&nbsp;&nbsp;
				</li>
				<li class="side-menu"><a href="cart_list.html" th:href="@{/showCartList}"
						class="side-content">ショッピングカート</a>&nbsp;&nbsp; </li>
				<li class="side-menu"><a href="order_history.html" th:href="@{/showOrderHistory}"
						class="side-content">注文履歴</a>&nbsp;&nbsp; </li>
				<li class="side-menu"><a th:href="@{/pdf/allergy.pdf}" target="_blank"
						class="side-content">アレルギー情報</a>&nbsp;&nbsp; </li>
			</ul>
		</nav>
		<!-- ハンバーガー終わり -->
		<span th:include="fragment-part::frag_nav"></span>

		<form action="cart_list.html" th:action="@{/cartIn}" th:object="${itemForm}" method="post" id="item">

			<div class="row">
				<div class="col-xs-offset-2 col-xs-8">

					<h3 class="text-center">商品詳細</h3>
					<div class="row">
						<div class="col-xs-5">
							<img th:src="@{'/img_curry/' + ${item.imagePath}}" class="img-responsive img-rounded item-img-center">
						</div>

						<div class="col-xs-5">
							<div class="bs-component">
								<h4 th:text="${item.name}">じゃがバターベーコン</h4> <br>
								<br>
								<p th:text="${item.description}">マイルドな味付けのカレーに大きくカットしたポテトをのせた、バターとチーズの風味が食欲をそそるお子様でも楽しめる商品です。</p>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-15">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
										<label for="inputResponsibleCompany">サイズ</label>
									</div>
									<div class="col-sm-12">
										<div id="item-size-and-price">
											<label class="radio-inline">
												<input class="size" type="radio" th:field="${itemForm.size}" th:value="M">
												<span class="price">&nbsp;М&nbsp;</span>&nbsp;&nbsp;
												<span class="money" th:text="${#numbers.formatInteger(item.priceM, 1, 'COMMA')}"></span>円（税抜）
											</label>
											<label class="radio-inline">
												<input class="size" type="radio"	th:field="${itemForm.size}" th:value="L">
												<span class="price">&nbsp;Ｌ&nbsp;</span>&nbsp;&nbsp;
												<span class ="money" th:text="${#numbers.formatInteger(item.priceL, 1, 'COMMA')}">2,380</span>円(税抜)
											</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="col-xs-offset-2 col-xs-15">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-12">
									<label for="inputResponsibleCompany">
										トッピング：&nbsp;1つにつき
										<span>&nbsp;М&nbsp;</span>&nbsp;&nbsp;200円(税抜)
										<span>&nbsp;Ｌ</span>&nbsp;&nbsp;300円(税抜)
									</label>
								</div>
								<div class="col-sm-12">
									<p>
										<br>
										<input type="button" id="off" value="トッピングを全て消去する" class="btn btn-default">
										<br>
									</p>
									<div class="form-inline">
									
									
									
									<table>
											<tbody>
												<th:block th:each="topping, status : ${item.toppingList}">
													<th:block th:if="${status.index%3==0}">
														<tr>
													</th:block>
													
													<td>
													<span class="text-left">
													<label class="checkbox-inline">
														<input class="topping" type="checkbox" th:field="${itemForm.toppingIdList}" th:value="${topping.id}" th:text="${topping.name} + '&nbsp;&nbsp;&nbsp;'">
													</label>
													</span>
													</td>
													
													<th:block th:if="${status.index%3==2}">
                       									</tr>
                    								</th:block>
												</th:block>
											
											</tbody>										
									</table>
									</div>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-2 col-xs-15">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-5 col-sm-5">
								<div th:if="${#fields.hasErrors('${itemForm.quantity}')}" th:errors="${itemForm.quantity}"
										style="color: red">数量を選択してください</div><br>
									<label for="quantity">数量:</label>								
										<select id="quantity"
										th:field="${itemForm.quantity}" class="form-control">
										<option value=1>1</option>
										<option value=2>2</option>
										<option value=3>3</option>
										<option value=4>4</option>
										<option value=5>5</option>
										<option value=6>6</option>
										<option value=7>7</option>
										<option value=8>8</option>
										<option value=9>9</option>
										<option value=10>10</option>
										<option value=11>11</option>
										<option value=12>12</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				
					<div class="row">
					<div class="col-xs-offset-2 col-xs-15">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-5 col-sm-5">
								<div th:if="${#fields.hasErrors('${itemForm.riceId}')}" th:errors="${itemForm.riceId}"
										style="color: red">ライスを選択してください</div><br>
									<label for="rice">ライス:</label>								
										<select id="rice"
										th:field="${itemForm.riceId}" class="form-control">
										<option th:each="rice : ${riceList}" th:value="${rice.id}" th:text="${rice.name}"></option>
									</select>
								</div>
							</div>
						</div>
						
						<table>
							<tr>
								<td class="ricePhoto">
									<img th:src="@{'/img_rice/' + ${riceSample.imagePath}}" width="120px" height="150px">
								</td>
								<td>
									<span class="riceDescription" th:text="${riceSample.description}"></span>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<br>
				
				<div class="row">
					<div class="col-xs-offset-2 col-xs-10">
						<div class="form-group">
							<span id="total-price">この商品金額：
								<span id="total-price-number"></span>
								 円(税抜)</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-2 col-xs-3">
						<div class="form-group">
							<p>
								<input type="hidden" id="itemId" name="itemId" th:value="${item.id}">
								<input class="form-control btn btn-warning btn-block"
									type="submit" id="cartInButton" value="カートに入れる">
								<a id="btnToFavorite" class="modal btn btn-light btn-block" href="#toFavorite" role="button">お気に入りに追加</a>
								<!-- 以下がモーダルで呼ばれる -->
								<div class="modalBox" id="toFavorite">
									<div class="modalInner">
									</div>
								</div>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		</form>

	</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/item_detail.js}"></script>

</body>
</html>