<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ラクラクカリー -ユーザ登録</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/curry.css}" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<span th:include="fragment-part::frag_nav"></span>
		
		<!-- login form -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<div class="well">
					<form method="post" action="item_list_pizza.html">
						<fieldset>
							<legend>ユーザ登録</legend>
							<div class="form-group">
								<label for="inputName">名前:</label><label
									class="control-label" style="color: red" for="inputError">名前を入力してください</label>
								<input type="text" id="inputName" class="form-control"
									placeholder="Name" name="name">
							</div>
							<div class="form-group">
								<label for="inputEmail">メールアドレス:</label><label
									class="control-label" style="color: red" for="inputError">メールアドレスを入力してください</label>
								<input type="text" id="inputEmail" class="form-control"
									placeholder="Email" name="mail">
							</div>
							<div class="form-group">
								<label for="inputZipcode">郵便番号:</label>
								<label
									class="control-label" style="color: red" for="inputError">郵便番号を入力してください</label>
									<input type="button" value="住所検索">
								<input type="text" id="inputZipcode" class="form-control"
									placeholder="Zipcode" >
								
							</div>
							<div class="form-group">
								<label for="inputAddress">住所:</label>
								<label
									class="control-label" style="color: red" for="inputError">住所を入力してください</label>
								<input type="text" id="inputAddress" class="form-control"
									placeholder="Address" name="address">
							</div>
							<div class="form-group">
								<label for="inputTel">電話番号:</label>
								<label
									class="control-label" style="color: red" for="inputError">電話番号を入力してください</label>
								<input type="text" id="inputTel" class="form-control"
									placeholder="Tel" name="telephone">
							</div>
							<div class="form-group">
								<label for="inputPassword">パスワード:</label>
								<label
									class="control-label" style="color: red" for="inputError">パスワードを入力してください</label>
								<input type="text" id="inputPassword" class="form-control"
									placeholder="Password" name="password">
							</div>
							<div class="form-group">
								<label for="inputConfirmationPassword">確認用パスワード:</label>
								<label
									class="control-label" style="color: red" for="inputError">確認用パスワードを入力してください</label>
								<input type="text" id="inputConfirmationPassword" class="form-control"
									placeholder="Confirmation Password">
							</div>
							<div class="form-group">
							 <form th:href="@{/register}" method="post">
								<button type="submit" class="btn btn-primary">登録</button>
						     </form>
						     <form th:href="@{/indexRegister}" method="post">
								<button type="reset" class="btn btn-primary">クリア</button>
						     </form>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>